{% extends 'tract_hire/base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container-fluid">
<!-- Card -->
<div class="card card-cascade wider reverse">

    <!-- Card image -->
    <div class="embed-responsive embed-responsive-16by9">
        <img class="card-img-top embed-responsive-item" src="{{single_tractor.tractor_image.url}}" alt="Card image cap">
        <a href="#!">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade">

        <!-- Title -->
        <h4 class="card-title text-center"><strong>{{single_tractor.name}}</strong></h4>
        <!-- Subtitle -->
        <h6 class="font-weight-bold indigo-text py-2"> <strong>Category: </strong>{{single_tractor.category}}</h6>
        <!-- Text -->
        <p class="card-text"><strong>Description:</strong> {{single_tractor.description}} </p>
        <p class="card-text"><strong>Location:</strong>{{single_tractor.location_id}} </p>
        <p class="card-text"><strong>Tel:{{single_tractor.contact}}</strong> </p>
        <p class="card-text"><strong>Ksh:{{single_tractor.price_estimate}} per Acre</strong></p>
        <button class="btn btn-success float-right">Add to Cart</button>
    </div>

</div>
<!-- Card -->
</div>
{% endblock %}